@import "partials/reset";
@import "partials/settings";
@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic.css";

/* -----global variables----- */

// colors
$black: #111C2E;
$teal: #309AAF;
$lightteal: #49B5BB;
$white: #EBF9E7;

html{
  font-family: "Droid Serif", "serif";
}

body{
  font-size: 16px;
  background-color: $white;

h2{
  margin-top: 30px;
  margin-left: 30px;
  
  a{
    font-size: 25px;
    color: $black;
    text-decoration: none;
    border-bottom: 2px dotted $lightteal;
  }
}

h3{
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: $teal;

  a{
    color: $black;
    text-decoration: none;
    border-bottom: 2px dotted $lightteal;
  }
}

p{
  margin-left: 30px;
  line-height: 1.5;
}

.footer_links{
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid $lightteal;
  padding: 20px;
  word-spacing: 25px;

  li{
    display: inline;
  }

  a{
    text-decoration: none;
    color: $black;
  }
}

/* -----small screen max 640px ----- */

.nav{
  @media #{$small-only}{
    display: none;
  }
}

h1{
  @media #{$small-only}{
    color: $lightteal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid;
    background-color: $teal;
    padding: 5px;
    font-size: 12px;
  }
}

aside{
  @media #{$small-only}{
    display: none;
  }
}

.left{
  @media #{$small-only}{
    display: none;
  }
}

/* ---medium screen 641px - 960px--- */

.nav{
  @media #{$medium-up}{
     text-align: center;
     word-spacing: 25px;
     padding: 20px;
  }

  li{
    display: inline;
  }

  a{
    text-decoration: none;
    color: $black;
  } 
}

h1{
  @media #{$medium-up}{
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid $lightteal;
    border-bottom: 1px solid $lightteal;
    padding: 30px;
    letter-spacing: 3px;
    color: $lightteal;
  }
}

aside{
}
  h4{
    @media #{$medium-up}{
      margin-left: 30px;
      margin-top: 30px;
      color: $teal;
      font-size: 18px;
    }  
  }
  
  p{
    margin-top: 10px;
  }

.read{
  @media #{$medium-up}{
    text-align: center;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    background-color: $teal;

  }
  a{
    text-decoration: none;
    color: $lightteal;
  }
}

.left{
  @media #{$medium-only}{
    display: none;
  }
}

/* ---large screen min 961px --- */
.content{
  @media #{$large-up}{
    width: 75%;
    float: left;
    box-sizing: border-box;
    margin-bottom: -40px;
    border-right: 1px solid $lightteal;
  }
}

aside{
  @media #{$large-up}{
    width: 25%;
    height: 100%;
    float: right;
    box-sizing: border-box;
  }
}

.footer_links{
  @media #{$large-up}{
    text-align: left;
    margin-left: 10px;
  }
}

.left{
  @media #{$large-up}{
    float: right;
    margin-top: 15px;
    margin-right: 30px;
  }
 }
}