@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic.css);
/* clearfix style  */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* css reset */
/* * Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* media query ranges */
/* -----global variables----- */
html {
  font-family: "Droid Serif", "serif"; }

body {
  font-size: 16px;
  background-color: #EBF9E7;
  /* -----small screen max 640px ----- */
  /* ---medium screen 641px - 960px--- */
  /* ---large screen min 961px --- */ }
  body h2 {
    margin-top: 30px;
    margin-left: 30px; }
    body h2 a {
      font-size: 25px;
      color: #111C2E;
      text-decoration: none;
      border-bottom: 2px dotted #49B5BB; }
  body h3 {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #309AAF; }
    body h3 a {
      color: #111C2E;
      text-decoration: none;
      border-bottom: 2px dotted #49B5BB; }
  body p {
    margin-left: 30px;
    line-height: 1.5; }
  body .footer_links {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #49B5BB;
    padding: 20px;
    word-spacing: 25px; }
    body .footer_links li {
      display: inline; }
    body .footer_links a {
      text-decoration: none;
      color: #111C2E; }
  @media only screen and (max-width:640px) {
    body .nav {
      display: none; } }
  @media only screen and (max-width:640px) {
    body h1 {
      color: #49B5BB;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      border: 1px solid;
      background-color: #309AAF;
      padding: 5px;
      font-size: 12px; } }
  @media only screen and (max-width:640px) {
    body aside {
      display: none; } }
  @media only screen and (max-width:640px) {
    body .left {
      display: none; } }
  @media only screen and (min-width:641px) {
    body .nav {
      text-align: center;
      word-spacing: 25px;
      padding: 20px; } }
  body .nav li {
    display: inline; }
  body .nav a {
    text-decoration: none;
    color: #111C2E; }
  @media only screen and (min-width:641px) {
    body h1 {
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid #49B5BB;
      border-bottom: 1px solid #49B5BB;
      padding: 30px;
      letter-spacing: 3px;
      color: #49B5BB; } }
  @media only screen and (min-width:641px) {
    body h4 {
      margin-left: 30px;
      margin-top: 30px;
      color: #309AAF;
      font-size: 18px; } }
  body p {
    margin-top: 10px; }
  @media only screen and (min-width:641px) {
    body .read {
      text-align: center;
      margin-top: 35px;
      margin-left: 30px;
      margin-right: 30px;
      padding: 20px;
      background-color: #309AAF; } }
  body .read a {
    text-decoration: none;
    color: #49B5BB; }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    body .left {
      display: none; } }
  @media only screen and (min-width:961px) {
    body .content {
      width: 75%;
      float: left;
      box-sizing: border-box;
      margin-bottom: -40px;
      border-right: 1px solid #49B5BB; } }
  @media only screen and (min-width:961px) {
    body aside {
      width: 25%;
      height: 100%;
      float: right;
      box-sizing: border-box; } }
  @media only screen and (min-width:961px) {
    body .footer_links {
      text-align: left;
      margin-left: 10px; } }
  @media only screen and (min-width:961px) {
    body .left {
      float: right;
      margin-top: 15px;
      margin-right: 30px; } }
